<!-- Modal -->
<div class="modal fade" id="modalquote" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ options.modal_title }}</h5>
      </div>
      <div class="modal-body">
        {{ options.modal_content }}
      </div>
    </div>
  </div>
</div>