<aside class="mod-socialmedia-sidebar">
  <div class="followus">
    {% if options.facebook %}
      <a href="{{options.facebook}}">
        <div><i class="fab fa-facebook-f"></i></div>
        <span> Facebook </span>
      </a>
    {% endif %}
    {% if options.twitter %}
      <a href="{{options.twitter}}">
        <div><i class="fab fa-twitter"></i></div>
        <span> Twitter </span> 
      </a>
    {% endif %}
    {% if options.instagram %}
      <a href="{{options.instagram}}"> 
        <div><i class="fas fa-envelope"></i></div>
        <span> Instagram </span>
      </a>
    {% endif %}
  </div>
</aside>