<section class="mod-content">
  <div class="container">
    <div class="row">
      <div class="col-md">
        {{ item.content_1 }}
      </div>
      {% if item.content_2 %}
        <div class="col-md">
          {{ item.content_2 }}
        </div> 
      {% endif %}
    </div>
  </div>     
</section>