<section class="mod-pageheader d-flex align-items-center" style="background:linear-gradient(0deg, rgba(25, 95, 161, 0.6) 0%, rgba(28, 61, 92, 0.6) 100%),url({{ item.afbeelding}}); background-size:cover; background-position: center center;">
  <div class="content w-100">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <h1> {{ post.title }}</h1>
          <p> {{ item.tekst }} </p>
        </div>
      </div>
    </div>
  </div>
</section>