{% for item in options.blokken %}
  {% if item.acf_fc_layout == 'fullpage_slider' %}
    {% if item.slideblok|length > 0 %}
      <nav class="fullpage-menu">
        {% for slideblok in item.slideblok %}
          <a class="menu-links js-menu-close" href="/#{{ slideblok.menu_titel|sanitize }}">
            <span> </span>
            <div> {{ slideblok.menu_titel }} </div>
          </a>
          <div class="clearfix"></div>
        {% endfor %}  
      </nav>
    {% endif %}
  {% endif %}
{% endfor %}