body.modal-open {
  overflow: hidden;
  position: absolute;
  .modal {
    overflow-x: hidden;
    overflow-y: scroll;
    position:fixed !important;
    -webkit-overflow-scrolling: touch;
  }
}

body .modal.show {
  .modal-dialog {
   
  }
}

.modal {
  /* Modal mask: */
  background-image: linear-gradient(-180deg, rgba(28, 61, 92, 0.8), rgba(0, 131, 255, 0.8));
  .modal-dialog {
    background: #FFFFFF;
    box-shadow: 0 20px 100px 0 rgba(28,61,92,0.80);
    border-radius: 10px;
    border: 0;
    overflow: hidden;
    margin: 20px;
    .modal-content {
      border: 0;
      .modal-header {
        background-image: linear-gradient(0deg, #F8B300 0%, #EF7C00 74%);
        h5 {
          font-family: "CFF Starline Wide";
          font-size: 26px;
          line-height: 34px;
          color: #fff;
          display: block;
          text-align: center;
          width: 100%;
        }    
      }
      .modal-body {
        padding: 20px;
      }
    }
  }
}

@include media-breakpoint-up(sm) {
  .modal {
    .modal-dialog {
      margin: 20px auto;
    }
  }
}

@include media-breakpoint-up(md) {
  .modal {
    .modal-dialog {
      margin: 82px auto;
      .modal-content {
        .modal-body {
          padding: 40px;
        }
      }
    }
  }
}