$orange: #EF7C00;
$blue: #6CA0D0;
$darkblue: #1C3D5C;
$lightgrey: #EAEEF2;
$grey: #7E7D7D;

// Colors Aanbodkaart

$color1: #ff0000;
$color2: #00aeef;
$color3: #ffd100;
$color4: #812990;
$color5: #38ae00;

// Colors

$lightblue: #B6DBEF;
$darkblue: #0a334f;
$lightgreen: #c8e5d0;
$green: #46aa64;
$darkgreen: #2C9638;

$mediumgrey: #e6e7e8;

// Old colors

$red: #BF2A2A;
$background: #fff;
$darkgrey: #555;
$oranje: #FF6345;
$yellow: #FDCF42;
$lightyellow: #F2DE79;
$purple: #7164F5;